<!DOCTYPE html>
<html lang="en">
  <head>
    {{>head}}
    <title>JobSkills</title>
  </head>
  <body>

    {{>nav}}

    <div class="container">
      {{{body}}}
    </div>

    <!-- bootstrap js & js files-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
