<div class="page-header">
  <h3>About</h3>
</div><!-- ./page-header-->

<div class="col-md-12">
  <p>
    A University of Glasgow honours project.
  <p/>
  <p>
    A collaborative project with Amazon Development Centre to create a skills ontology to be used in their internal jobs sight. They are wanting to add skill “tags” to all of their current and future jobs to improve job data and improve their recommendation system. They ideally want an application which will output suggested skills for an inputed job description.
  </p>
</div><!-- ./col-md-12 -->

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-2">
    <img class="img-responsive" src="img/amazon_logo.png"></img>
  </div> <!-- ./col-md-2 -->
  <div class="col-md-2">
    <img class="img-responsive mx-auto d-block" src="img/uni_glasgow_logo.png"></img>
  </div><!-- ./col-md-4 -->
  <div class="col-md-4"></div>
</div><!-- ./row -->
