<div class="row">
  <h3>About</h3>
</div><!-- ./row -->
<div class="row">
  <div class="col s12">
    <p>
      A University of Glasgow honours project.
      A collaborative project with Amazon Development Centre to create a skills ontology to be used in their internal jobs sight. They are wanting to add skill “tags” to all of their current and future jobs to improve job data and improve their recommendation system. They ideally want an application which will output suggested skills for an inputed job description.
    </p>
  </div><!-- ./col-md-12 -->
</div>

<div class="row">
  <div class="offset-s2 col s4">
    <img class="materialboxed" width="250px" src="img/amazon_logo.png">
  </div> <!-- ./col-md-2 -->
  <div class="col s4">
    <img class="materialboxed" width="250px" src="img/uni_glasgow_logo.png">
  </div><!-- ./col-md-4 -->
</div><!-- ./row -->
