<div class="page-header">
  <h3>Skills</h3>
</div><!-- ./page-header-->

<div class="col-md-12">
  {{#each skills}}
    <li><b>{{this.word}}</b> has score: {{this.skills}}</li>
  {{else}}
    <p>No skills</p>
  {{/each}}
</div>
