<div class="page-header">
  <h3>Skills</h3>
</div><!-- ./page-header-->

<div class="col-md-12">
  <!-- <ul> -->
  {{#each match}}
    <!-- <li><b>{{this.word}}</b> has score: {{this.skills}}</li> -->
    <p>skill: <b>{{this}}</b></p>
  {{else}}
    <p>No skills</p>
  {{/each}}
  <!-- </ul> -->
</div>
