<div class="page-header">
  <h3>Skills</h3>
</div><!-- ./page-header-->

<div class="col-md-12">
  <!-- <ul> -->
  {{#each skills}}
    <li><b>{{this.word}}</b> has skills: {{this.skills}}</li>
  {{else}}
    <p>No skills</p>
  {{/each}}
  <!-- </ul> -->
</div>
