<div class="row" >
  <div class="col-md-12">
    <form>
      <div class="form-group">
        <label for="comment">Description:</label>
        <textarea class="form-control" rows="6" id="jobDescription" placeholder="Enter job description here"></textarea>
        <span class="help-block">Enter job description above and click submit once done.</span>
      </div><!-- ./form-group -->
    </form>
    <button class="btn btn-default" id="submit">Submit</button>
    <hr></hr>
  </div><!-- ./col-md-12 -->
</div><!-- ./row -->


<!-- Skills -->
<div class="row" id="btn-group">

</div><!-- ./btn-group -->

<div class="col-md-4">
  <div class="list-group">
  </div><!-- ./list-group -->
  <button class="btn btn-default" id="clear">Clear</button>
</div><!-- ./col-md-4 -->
