
<!-- Tabs -->
<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s3"><a href="#alg1">Algorithm 1</a></li>
      <li class="tab col s3"><a href="#alg2">Algorithm 2</a></li>
      <li class="tab col s3"><a href="#alg3">Algorithm 3</a></li>
      <li class="tab col s3"><a href="#alg4">Algorithm 4</a></li>
    </ul>
  </div><!-- ./col s12 -->
</div><!-- ./row -->

<!-- Tab panes -->
<div role="tabpanel" class="tab-pane" id="alg1">
  <div class="row">
    <h6>Algorithm 1: Word Embedding words</h3>
      <form role="form" action="/process" method="POST">
        <div class="form-group">
          <label for="jobDescription" class="col s2 control-label">Job Description:</label>
          <div class="col s12">
            <textarea type="text" id="jobDescription" name="description" class="materialize-textarea" placeholder="Enter job description here"></textarea>
          </div> <!-- ./col s12 -->
        </div><!-- ./form-group -->
        <div class="form-group">
          <div class="col s12">
            <button class="waves-effect waves-light btn">Submit</button>
          </div> <!-- ./col s12 -->
        </div> <!-- ./form-group -->
      </form> <!-- ./form -->
  </div> <!-- ./row -->
</div><!-- ./alg2 tab-->

  <div role="tabpanel" class="tab-pane" id="alg2">
    <div class="row">
      <h6>Algorithm 2: Word Embedding vectors</h3>
        <form role="form" action="/process2" method="POST">
          <div class="form-group">
            <label for="jobDescription" class="col s2 control-label">Job Description:</label>
            <div class="col s12">
              <textarea type="text" id="jobDescription" name="description" class="materialize-textarea" placeholder="Enter job description here"></textarea>
            </div> <!-- ./col s12 -->
          </div><!-- ./form-group -->
          <div class="form-group">
            <div class="col 112">
              <button class="waves-effect waves-light btn">Submit</button>
            </div> <!-- ./col s12 -->
          </div> <!-- ./form-group -->
        </form> <!-- ./form -->
    </div><!-- ./row -->
  </div><!-- ./alg2 tab-->

  <div role="tabpanel" class="tab-pane" id="alg3">
    <div class="row">
      <h6>Algorithm 3: Word Embedding words with Wikipedia average page views</h3>
        <form role="form" action="/process3" method="POST">
          <div class="form-group">
            <label for="jobDescription" class="col s2 control-label">Job Description:</label>
            <div class="col s12">
              <textarea type="text" id="jobDescription" name="description" class="materialize-textarea" placeholder="Enter job description here"></textarea>
            </div> <!-- ./col s12 -->
          </div><!-- ./form-group -->
          <div class="form-group">
            <div class="col s12">
              <button class="waves-effect waves-light btn">Submit</button>
            </div> <!-- ./col s12 -->
          </div> <!-- ./form-group -->
        </form> <!-- ./form -->
    </div> <!-- ./row -->
  </div><!-- ./alg2 tab-->

  <div role="tabpanel" class="tab-pane" id="alg4">
    <div class="row">
      <h6>Algorithm 4: Tree structure</h3>
        <form role="form" action="/process4" method="POST">
          <div class="form-group">
            <label for="jobDescription" class="col s2 control-label">Job Description:</label>
            <div class="col s12">
              <textarea type="text" id="jobDescription" name="description" class="materialize-textarea" placeholder="Enter job description here"></textarea>
            </div> <!-- ./col s12 -->
          </div><!-- ./form-group -->
          <div class="form-group">
            <div class="col s12">
              <button class="waves-effect waves-light btn">Submit</button>
            </div> <!-- ./col s12 -->
          </div> <!-- ./form-group -->
        </form> <!-- ./form -->
    </div> <!-- ./row -->
  </div><!-- ./alg2 tab-->
