<div class="row" >
  <div class="col-md-12">
    <form role="form" action="/process" method="POST">

      <div class="form-group">
        <label for="jobDescription" class="col-sm-2 control-label">Description:</label>
        <div class="col-md-12">
            <textarea type="text" class="form-control" rows="6" id="jobDescription" placeholder="Enter job description here" name="description"></textarea>
          <span class="help-block">Enter job description above and click submit once done.</span>
        </div> <!-- ./col-md-12 -->
      </div><!-- ./form-group -->

      <div class="form-group">
        <div class="col-md-12">
          <button class="btn btn-default" id="submit">Submit</button>
        </div> <!-- ./col-md-12 -->
      </div> <!-- ./form-group -->

    </form> <!-- /-->
  </div><!-- ./col-md-12 -->
</div><!-- ./row -->

<hr></hr>
