<footer class="page-footer">

  <div class="footer-copyright">
    <div class="container">
      © 2017 University of Glasgow
      <a class="grey-text text-lighten-4 right" href="http://www.gla.ac.uk/">University of Glasgow</a>
    </div><!-- ./container -->
  </div><!-- ./footer-copyright -->

</footer>
