<div class ="row">
  <nav>
    <div class="nav-wrapper white">
      <!-- <a href="/" class="brand-logo"><img alt="Brand" src="img/logo.png" style=""></a> -->
      <a class="brand-logo black-text thin" href="/">Job <span>Tagger</span></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div><!-- ./nav-wrapper -->
  </nav>
</div><!-- ./row -->
